<h1>{{title}}</h1>

<form method="get" action="/login">

    <button type="submit">Recuperar</button>
</form>


<form method="post" onsubmit="sendRecoveryEmail(event)">

    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <button type="submit">Recuperar</button>
</form>

<script src="js/finishProcessButton.js"></script>